/app/WebApplication1/nbproject/private/
/app/FPTUClothing/nbproject/private/
/app/FPTUClothing/build/
/app/FPTUClothing/dist/
/app/WebApplication2/nbproject/private/
/app/FPTUClothing1/build/
/app/FPTUClothing1/dist/
/app/FPTUClothing1/nbproject/private/